---
// src/layouts/BaseLayout.astro
import backgoundEffect from "../assets/effect.svg";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Frank-waitlist</title>
	</head>
	<body>
		<div class="wrapper">
			<img src={backgoundEffect.src} alt="" class="effect" />
			<div class="slot-content">
				<slot />
			</div>
		</div>
	</body>
</html>

<style>
	@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
	html,
	body {
		margin: 0;
		width: 100vw;
		height: 100vh;
		display: flex;
		font-family: "Work Sans", sans-serif;
		flex-direction: column;
		color: #fdfdfd;
	}

	.wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 100%;
		background-color: #04050a;
		overflow: hidden;
	}

	.effect {
		position: absolute;
		top: 0;
		left: 0;
		margin-top: -120px;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 1;
		pointer-events: none;
	}

	.slot-content {
		position: relative; /* cria novo contexto de empilhamento */
		z-index: 10; /* fica acima da imagem com z-index: -1 */
	}
</style>
