---
// src/layouts/BaseLayout.astro
import backgoundEffect from "../assets/effect.svg";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Frank-waitlist</title>
	</head>
	<body>
		<div class="wrapper">
			<img src={backgoundEffect.src} alt="" class="effect" />
			<div class="slot-content">
				<slot />
			</div>
		</div>
	</body>
</html>

<style>
	@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fira+Code:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
	html {
		scroll-behavior: smooth;
	}
	html,
	body {
		margin: 0;
		width: 100%;
		/* height: 100%; */
		box-sizing: border-box;
		display: flex;
		font-family: "Work Sans", sans-serif;
		flex-direction: column;
		background-color: #04050a;
		color: #fdfdfd;
	}

	.wrapper {
		position: relative;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.effect {
		position: absolute;
		margin-top: -50px;
		object-fit: cover;
		z-index: 1;
		pointer-events: none;
	}

	.slot-content {
		position: relative;
		z-index: 10;
	}
</style>
